/* 
  Storm Inc - Industry Section Styles
  Industry Information and Animation
*/

/* =============================================================================
   Industry Section - Figma Design
   ============================================================================= */

/* updating css */

.industry {
  background: #ffffff;
  position: relative;
  z-index: 5;
  width: 100%;
}

.industry__main {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  padding: 100px 248px 100px 160px;
  max-width: 1920px;
  margin: 0 auto;
  width: 100%;
}

/* .industry__animation {
  overflow: hidden;
  width: 685px;
  height: 355px;
}

.industry__animation-video {
  width: 685px;
  height: 355px;
  display: block;
  transform: scale(1.1);
} */

.industry__animation {
  overflow: hidden;
  width: 100%;
  height: auto;
  max-width: 692px;
}

.industry__animation-video {
  width: 100%;
  max-width: 692px;
  height: auto;
  display: block;
  transform: scale(1.1);
  object-fit: cover;
}

.industry__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  max-width: 684px;
}

.industry__content-text {
  color: #555353;
  font-family: var(--font-mona-sans);
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 34px;
  padding: 0;
  margin: 0;
}

/* =============================================================================
   Industry Responsive Styles
   ============================================================================= */

/* 1480px Breakpoint */
@media (max-width: 1480px) {
  .industry__content {
    max-width: 560px;
  }
  .industry__animation {
    width: fit-content;
  }
  .industry__main {
    padding: 100px 145px 100px 160px;
  }

  .industry__content-text {
    font-size: 18px;
  }
}

/* 1280px Breakpoint */
@media (max-width: 1280px) {
  .industry {
    gap: 10px;
  }
  .industry__animation {
    width: fit-content;
  }

  .industry__content-text {
    font-size: 16px;
    line-height: 24px;
  }

  .industry__content {
    max-width: 460px;
  }
}

@media (max-width: 1024px) {
  .industry {
    gap: 10px;
    padding: 60px;
    width: 100%;
  }
  .industry__animation {
    overflow: hidden;
  }

  .industry__animation-video {
    max-width: 548px;
    height: auto;
    display: block;
  }

  .industry__content-text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .industry {
    flex-direction: column-reverse;
    width: 100%;
  }

  .industry__main {
    display: flex;
    flex-direction: column-reverse;
    padding: 0px;
  }

  .industry__animation {
    margin: 0 auto;
  }

  .industry__content {
    width: 100%;
    max-width: 100%;
  }
  .industry__content-text {
    font-size: 20px;
    line-height: 28px;
  }
}
