/* 
  Storm Inc - Industry Section Styles
  Industry Information and Animation
*/

/* =============================================================================
   Industry Section - Figma Design
   ============================================================================= */

.industry {
  padding: 108px 160px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 141.39px;
  position: relative;
  z-index: 5;
  background: #ffffff;
  width: 100vw;
  max-width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.industry__animation {
  overflow: hidden;
}

.industry__animation-video {
  width: 685px;
  height: 355px;
  display: block;
  transform: scale(1.1);
}

.industry__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 24px;
  max-width: 684px;
}

.industry__content-text {
  color: #555353;
  font-family: var(--font-mona-sans);
  font-size: 26px;
  font-style: normal;
  font-weight: 400;
  line-height: 37px; /* 142.308% */
  padding: 0;
  margin: 0;
}

/* =============================================================================
   Industry Responsive Styles
   ============================================================================= */

/* 1480px Breakpoint */
@media (max-width: 1480px) {
  .industry {
    padding: 60px 120px;
  }
  .industry__animation {
    width: fit-content;
    scale: 0.7;
  }

  .industry__content {
    width: 50%;
  }

  .industry__content-text {
    font-size: 18px;
  }
}

/* 1280px Breakpoint */
@media (max-width: 1280px) {
  .industry {
    gap: 10px;
    padding: 60px;
  }
  .industry__animation {
    width: fit-content;
  }

  .industry__content {
    width: 50%;
  }

  .industry__content-text {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .industry {
    gap: 10px;
    padding: 60px;
    width: 100%;
  }
  .industry__animation {
    overflow: hidden;
  }

  .industry__animation-video {
    width: 548px;
    height: 284px;
    display: block;
    transform: scale(1.1);
  }

  .industry__content {
    width: 50%;
  }

  .industry__content-text {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .industry {
    flex-direction: column-reverse;
    width: 100%;
  }

  .industry__content {
    width: 100%;
  }
}
